*.log
kubeconfig
**-off
sample
cache
usr
k3s-ansible
/.venv
/.ansible
/ansible/collections/ansible_collections
node_modules
package-lock.json
package.json
/target/dev/.kube/config
/target/prod/.kube/config
/ansible/target/prod/.kube/config
/ansible/target/dev/.kube/config
