127.0.0.1 localhost
::1       localhost
192.168.40.3 minis minis.homelab.lan
192.168.40.100 node_name=dev-k3s-master-0 dev-k3s-master-0.homelab.lan
192.168.40.101 node_name=dev-k3s-master-1 dev-k3s-master-1.homelab.lan
192.168.40.102 node_name=dev-k3s-master-2 dev-k3s-master-2.homelab.lan
192.168.40.103 node_name=dev-k3s-node-0 dev-k3s-node-0.homelab.lan
192.168.40.104 node_name=dev-k3s-node-1 dev-k3s-node-1.homelab.lan
192.168.40.105 node_name=dev-k3s-node-2 dev-k3s-node-2.homelab.lan
192.168.40.120 node_name=prod-k3s-master-0 prod-k3s-master-0.homelab.lan
192.168.40.121 node_name=prod-k3s-master-1 prod-k3s-master-1.homelab.lan
192.168.40.122 node_name=prod-k3s-master-2 prod-k3s-master-2.homelab.lan
192.168.40.123 node_name=prod-k3s-node-0 prod-k3s-node-0.homelab.lan
192.168.40.124 node_name=prod-k3s-node-1 prod-k3s-node-1.homelab.lan
192.168.40.125 node_name=prod-k3s-node-2 prod-k3s-node-2.homelab.lan