---
apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: {{ ca_data }}
    server: {{ server }}
  name: {{ env_name }}
contexts:
- context:
    cluster: {{ env_name }}
    user: {{ env_name }}
  name: {{ env_name }}
current-context: {{ env_name }}
kind: Config
preferences: {}
users:
- name: {{ env_name }}
  user:
    client-certificate-data: {{ client_cert }}
    client-key-data: {{ client_key }}