---
apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: {{ ca_data }}
    server: {{ server }}
  name: {{ env_name }}.{{ env.domain}}
contexts:
- context:
    cluster: {{ env_name }}.{{ env.domain}}
    user: {{ env_name }}.{{ env.domain}}
  name: {{ env_name }}.{{ env.domain}}
current-context: {{ env_name }}.{{ env.domain}}
kind: Config
preferences: {}
users:
- name: {{ env_name }}.{{ env.domain}}
  user:
    client-certificate-data: {{ client_cert }}
    client-key-data: {{ client_key }}